<div class="col-lg-4 col-md-4 col-md-4 col-sm-12 col-xs-12">
    <label>Nombre:</label><br />
    <input class="form-control inputDetail txtTituloM" disabled="disabled"/>
</div>
<div class="col-lg-4 col-md-4 col-md-4 col-sm-12 col-xs-12">
    <label>Descripción:</label><br />
    <input  class="form-control inputDetail txtDescripcionM" disabled="disabled"/>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Icono:</label><br />
    <input class="form-control inputDetail txtIconoM" disabled="disabled"/>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Controlador:</label><br />
    <input class="form-control inputDetail txtControladorM" disabled="disabled"/>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Acción:</label><br />
    <input class="form-control inputDetail txtAccionM" disabled="disabled"/>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Orden:</label><br />
    <input class="form-control inputDetail txtOrdenM" disabled="disabled"/>
</div>
