@model LoginViewModel

@{
    ViewData["Title"] = "RecoverPassword";
}

<style>
    body {
        background-image: url('../../images/fondo.png');
        background-attachment: fixed;
        background-size: 2130px 1200px;
    }

    #content {
        background-image: url('../../images/fondodesenfoque1.jpg');
        background-attachment: fixed;
        background-size: 2110px 1200px;
        padding: 20px;
        margin: 100px auto;
        width: 600px;
        border-radius: 2em 0;
        box-shadow: 0 0 5px #3f3d3dba;
        opacity: 0.9;
    }
</style>
<body>
    <div id="content">
        <section>
            <form asp-controller="Home" asp-action="RecuperaPassword" method="post">
                <div>
                    <center>
                        <img src="~/images/email.png" width="70" />
                    </center>
                </div>
                <div class="form-group">
                    <center>
                        <p style="font-weight:bold; color:aliceblue;">
                            Inserte su E-mail, enseguida reestableceremos su contraseña.
                        </p>
                        <br />
                        <div class="input-group col-md-8">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-envelope fa-1x" style="color:black"></i></div>
                            </div>
                            <input type="email" asp-for="Email" class="form-control" placeholder="Email" autocomplete="off" required />
                        </div>
                    </center>
                </div>
                <hr />
                <div>
                    <center>
                            <a class="btn btn-danger" asp-controller="Home" asp-action="Index"><i class="fas fa-window-close"></i> Cancelar</a>
                            <button type="submit" class="btn btn-info"><i class="fas fa-arrow-alt-circle-right"></i> Enviar</button>
                    </center>
                </div>
            </form>
        </section>
    </div>
</body>

@section Scripts{

    <script type="text/javascript">

        var std = "@ViewBag.RecuperaPassword";

        if (std == "0") {

            swal("ERROR","El correo ingresado no se encuntra en el sistema.", "error")
        }
        if (std == "1") {
            swal("OK", "El correo fue envíado con éxito", "success")
        }
    </script>
}