@model string

<div style="margin:0;" class="row">
    <div style="border-radius: 100px; box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);" class="col-12 text-center bg-warning text-white">
        <h4 style="margin: 1% 0;">
            <i class="fas fa-exclamation fa-lg"></i>
            @Model
        </h4>
    </div>
</div>