<div class="col-lg-4 col-md-4 col-md-4 col-sm-12 col-xs-12">
    <label>Nombre:</label><br />
    <input class="form-control inputDetail" disabled="disabled" value="Josuec gabriel pardines albarrán" />
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Icono:</label><br />
    <input class="form-control inputDetail" disabled="disabled" value="fas fa-edit" />
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Acción:</label><br />
    <input class="form-control inputDetail" disabled="disabled" value="accion" />
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Controlador:</label><br />
    <input class="form-control inputDetail" disabled="disabled" value="Controlador" />
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Dominio:</label>
    <input class="form-control inputDetail" disabled="disabled" value="Dominio" />
    <br />
</div>