@model SAyCC.Entities.Login.UserEntity
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 dvCreateUser">
            <label>¿Crear usuario de sesión?</label>
            <br />
            <input class="CreateUser" type="checkbox" asp-for="CreateUser" /> Sí
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 SendEmailUser">
            <label>¿Enviar usuario por correo?</label>
            <br />
            <input class="SendEmail" type="checkbox" asp-for="SendEmail" /> Sí
        </div>
    </div>
