@model SAyCC.Entities.Login.UserEntity

<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Medidor:</label><br />
    <input class="form-control NoMedidor" placeholder="Número medidor" autocomplete="off" maxlength="20" type="number" />
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Lectura Anterior:</label><br />
    <input class="form-control LecturaAnterior" placeholder="Lectura Anterior" autocomplete="off" maxlength="18" type="number" />
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <label>Lectura Actual:</label><br />
    <input class="form-control LecturaActual" placeholder="Lectura Actual" autocomplete="off" maxlength="18" type="number" />
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 dvAddWaterMeter">
    <div style="margin: 34px 0 0 0; float: left; height: 35px;" class="btn btn-info" onclick="AddNMedidor();">
        <i class="fas fa-plus fa-1x" style="color:white"></i> Agregar
    </div>
</div>
